
.login-form2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  filter: brightness(8px); /* Dim the images */
  background-color: rgba(0, 0, 0, 0.7);
}


.login-form2 h2 {
  text-align: center;
  color: #fff;
}

.signup-form2 h2 {
  text-align: center;
  color: #fff;
}


.login-form2 label {
  color: #fff;
}

.login-form2 label {
  color: #fff;
}


.login-form2 input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.login-form2 button {
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.login-form2 button:hover {
  background-color: #ff6347;
}

.login-form2 p {
    color: #fff; /* Black text color for the paragraph */
  }
  

.form-switch {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
